body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.navbar {
    background-color: #ff69b4;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 11px #0000006e;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.navbar-brand {
    font-size: 1.5rem;
}

.navbar-right button {
    background-color: #ff69b4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.btn {
    font-size: 15px;
    background-color: #ff69b4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    transition: 0.5s;
}

.btn:hover {
    background-color: #fc85c0;
}

button:hover {
    background-color: #fc85c0;
}


.form-wrapper {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    border: 1px solid #707070;
}

#result {
    font-weight: bold;
    text-align: center;
    margin-top: 1em;
}

.input-group {
    margin-bottom: 20px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    background-color: #ff69b4;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;

}

.footer {
    background-color: #979696;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto;
}

footer a:visited {
    color: #ff69b4;
}

footer a:active {
    color: #f7a8cf;
}


/* DARK MODE */
.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .navbar {
    background-color: #ff69b4;
    color: #fff;
}

.dark-mode input {
    background-color: #555;
    color: #fff;
    border: 1px solid #333;
}

.dark-mode ::placeholder {
    color: #fff;
}

.dark-mode .form-wrapper {
    background-color: #555;
}

.dark-mode .footer {
    background-color: #333;
}

/* DARK MODE */